fastapi==0.116.1
uvicorn[standard]==0.35.0
langchain==0.3.27
langchain-community==0.3.27
langchain-huggingface==0.3.1
langchain-experimental==0.3.4
langchain-ollama==0.3.6
sentence-transformers==5.1.0
transformers==4.56.1
huggingface-hub==0.36.2
openai==1.107.1
google-generativeai==0.8.6
tokenizers==0.22.0
accelerate==1.10.1
chromadb==1.0.20
pydantic==2.11.7
pydantic-settings==2.10.1
tenacity==9.1.2
PyMuPDF==1.26.5
rapidocr-onnxruntime==1.4.4

#Advanced RAG Dependencies
langchain-text-splitters
rank_bm25
pyvi
underthesea
python-dotenv